{% INCLUDE 'overall_header.html' %}

<h1>{{ lang('ACP_TRASHBIN_TITLE') }}</h1>
<p>{{ lang('ACP_TRASHBIN_SETTINGS') }}</p>

<form id="acp_lexicon" method="post" action="{{ C_ACTION }}">
<fieldset>
	<dl>
		<dt><label>{{ lang('ACP_TRASHBIN_ALLOW_FEATURE') }}{{ lang('COLON') }} for="forum"</label><br />
		<span>{{ lang('ACP_TRASHBIN_ALLOW_FEATURE_EXPLAIN') }}</span></dt>
		<dd>
		<select name="forum" id="forum">
			{% for forums in loops.forums %}
				<option value="{{ forums.FORUM_ID }}"{{ forums.SELECTED }}>{{ forums.FORUM_NAME }}</option>
			{% endfor %}
		</select>
		</dd>
	</dl>
</fieldset>
<fieldset>
	<legend>{{ lang('ACP_TRASHBIN_FORUM_PRUNE_SETTINGS') }}</legend>
<dl>
	<dt><label for="enable_prune">{{ lang('ACP_TRASHBIN_FORUM_AUTO_PRUNE') }}{{ lang('COLON') }}</label><br /><span>{{ lang('ACP_TRASHBIN_FORUM_AUTO_PRUNE_EXPLAIN') }}</span></dt>
	<dd><label><input type="radio" class="radio" name="enable_prune" value="1"{% if S_PRUNE_ENABLE %} id="enable_prune" checked="checked"{% endif %} /> {{ lang('YES') }}</label>
		<label><input type="radio" class="radio" name="enable_prune" value="0"{% if not S_PRUNE_ENABLE %} id="enable_prune" checked="checked"{% endif %} /> {{ lang('NO') }}</label></dd>
</dl>
<dl>
	<dt><label for="prune_freq">{{ lang('ACP_TRASHBIN_AUTO_PRUNE_FREQ') }}{{ lang('COLON') }}</label><br /><span>{{ lang('ACP_TRASHBIN_AUTO_PRUNE_FREQ_EXPLAIN') }}</span></dt>
	<dd><input type="number" id="prune_freq" name="prune_freq" value="{{ PRUNE_FREQ }}" min="0" max="9999" /> {{ lang('DAYS') }}</dd>
</dl>
<dl>
	<dt><label for="prune_days">{{ lang('ACP_TRASHBIN_AUTO_PRUNE_DAYS') }}{{ lang('COLON') }}</label><br /><span>{{ lang('ACP_TRASHBIN_AUTO_PRUNE_DAYS_EXPLAIN') }}</span></dt>
	<dd><input type="number" id="prune_days" name="prune_days" value="{{ PRUNE_DAYS }}" min="0" max="9999" /> {{ lang('DAYS') }}</dd>
</dl>
</fieldset>

	<p class="submit-buttons">
		<input class="button1" type="submit" id="submit" name="config"
		value="{{ lang('SUBMIT') }}" />&nbsp;
	</p>
	{{ S_FORM_TOKEN }}
</form>


{% INCLUDE 'overall_footer.html' %}
