services:
     lmdi.trashbin.listener:
        class: lmdi\trashbin\event\listener
        arguments:
            - '@dbal.conn'
            - '@config'
            - '@template'
            - '@user'
            - '@language'
            - '@request'
            - '@auth'
            - '@log'
            - '%core.root_path%'
            - '%core.php_ext%'
        tags:
            - { name: event.listener }
